body {
    background-color: #f0f0f0;
    font-family: system-ui, sans-serif;
}

.logo {
    width: 320px;
    height: 120px;
}

.header-nav {
    align-items: center;
    padding: 10px 20px;
}

.header-nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    background-color: #fd9013;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header-nav a:hover {
    background-color: #007bff;
    color: white;
}
